<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TodoList Edit</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/assets/index.css') }}" crossorigin="anonymous"/>
    </head>
    <body>
        <ul class="js-todolist-container" data-uid="{{ todolist.uid }}">
            {% for task in todolist.tasks %}
                <li class="js-todolist-task" data-idx="{{ task.idx }}">
                    {{ task.title }}
                </li>
            {% endfor %}

            {% for i in range(empty_task_count) %}
                <li class="js-todolist-task" data-idx="{{ max_task_id + i }}">
                </li>
            {% endfor %}
        </ul>
        <script defer type="text/javascript" src="{{ url_for('static', path='/assets/app-edit.js') }}">
        </script>
    </body>
</html>